NEXT_PUBLIC_SITE_URL=https://your-domain.com
NEXT_PUBLIC_PAYPAL_COFFEE_URL=https://www.paypal.me/SofiaRusso/5USD
NEXT_PUBLIC_FACEBOOK_URL=https://facebook.com/
NEXT_PUBLIC_INSTAGRAM_URL=https://instagram.com/
NEXT_PUBLIC_FOURTHWALL_URL=https://sofia-russo-shop.fourthwall.com/
NEXT_PUBLIC_AMAZON_WISHLIST_URL=https://www.amazon.com/hz/wishlist/
